<!DOCTYPE html>
<html lang="en">
<head>
    <% include('partials/header.ejs') %> <!--Se manda a llamar el archico header con include('')-->
    <title>Hello World</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <p>Loren, ipsum dolor</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>