<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs") %> <!--Se manda a llamar el archico header con include('')-->
    <title>Hello World</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <% books.forEach(function (book) { %> <!--Para crear multiples tarjetas de cada libro que recorra-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <%- book.title %> / <%- book.author %>
                        </div>
                        <div class="card-body">
                            <p><%- book.description %></p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</body>
</html>