<!DOCTYPE html>
<html lang="en">
<head>
    <% include('partials/header.ejs') %>
    <title>New book</title>
</head>
<body>
    <div class="container p-4">
        <form action="" class="card card-body">
            <label for="title">title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Entry a new title" autofocus required>
        </form>
    </div>
</body>
</html>